body {
    margin: 0;
    overflow: hidden;
}

/* width and height of game container are resized dynamically in index.js */
#phaser-example, #input-overlay, #game-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#game-overlay {
  display: flex;
  justify-content: center;
}
#phaser-example canvas {
    width: 100%;
    height: 100%;
}

#input-overlay {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

#item-bar {
  /* opacity: 50%; */
  position: absolute;
  bottom: 10px;
  color: white;
  text-align: center;
  font-family: Arial;
  background-color: darkgrey;;
  border-radius: 4px;
  z-index: 999;
  display: none;
}
#resources {
  opacity: 50%;
  position: absolute;
  bottom: 80px;
  color: white;
  text-align: center;
  font-family: Arial;
  background-color: darkgrey;;
  border-radius: 4px;
  display: flex;
  z-index: 999;
  padding: 10px;
}
.resource {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
}
.resource img {
  height: 20px;
  width: auto;
}
.item {
  margin: 5px;
  width: 50px;
  height: 50px;
  border: 2px solid grey;
  border-radius: 4px;
}
.selected {
  border: 2px solid black;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#game-overlay > div.leaderboard > .player {
  margin-left: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#game-overlay > div.leaderboard > .player > .text {
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    box-sizing: border-box;
}
#game-overlay > div.leaderboard > .player > .text > .name {
    font-size: 1rem;
    color: #fff;
    margin: 0;
}

#game-overlay > div.leaderboard > .player > .text > .score {
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    margin: 0;
}


#game-overlay > div.leaderboard {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 20px;
    right: 20px;
    color: white;
    text-align: center;
    font-family: Arial;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    z-index: 999;
}

#game-overlay > div.leaderboard h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
